:root {
  --coffee: #4b2e21;
  --latte: #f5e6d3;
  --caramel: #d59a57;
  --yellow: #d98324;
  --mine: #ffd65b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  color: var(--coffee);
}

body {
  background: linear-gradient(135deg, #f5c78a, #d59a57, #4b2e21);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

/* Navbar */
nav {
  margin-top: 7rem;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  gap: 20px;
  background-color: #d59a57;
  padding: 13px;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: margin-top 0.5s ease;
}

.logo,
.nav,
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.logo {
  color: #ffd65b;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo strong {
  font-family: "Momo Signature", cursive;
  font-size: 18px;
  color: var(--latte);
}

.nav {
  gap: 25px;
}

.nav a {
  text-decoration: none;
  margin: 0 13px;
  color: var(--latte);
  position: relative;
  font-size: 22px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--latte);
  transition: width 0.5s ease;
}

.nav a:hover::after,
.nav a.active::after {
  width: 100%;
}

.nav a.active {
  color: black;
}

.search1 {
  display: flex;
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  gap: 15px;
}

.search1 input {
  outline: none;
  border: none;
  margin-left: 20px;
  font-size: 15px;
}

.shoping {
  font-size: 23px;
  cursor: pointer;
  margin-left: 20px;
  color: white;
}

.menu-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--coffee);
}

/* Hero Section */
.hero {
  padding: 150px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background: linear-gradient(120deg, #4b2e21, #d59a57);
  color: white;
  border-radius: 30px;
  margin: 80px auto;
  width: 80%;
}

.hero1 {
  flex: 1;
  max-width: 550px;
}

.hero1 h1 {
  font-size: 48px;
  line-height: 1.3;
  font-family: "Momo Trust Display", sans-serif;
}

.hero1 h1 strong {
  color: #ffd65b;
}

.hero1 p {
  line-height: 1.6;
  margin-top: 20px;
  font-size: 18px;
  color: #f5e6d3;
}

.hero2 img {
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.btn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 35px;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 26px;
  background: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 18px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn1 i {
  padding: 4px 6px;
  font-size: 12px;
  margin-left: 8px;
}

.btn1:hover {
  background: #ffd65b;
  color: #000;
}

.btn2 {
  text-decoration: none;
  font-size: 18px;
  font-family: "Momo Trust Display", sans-serif;
  color: #fff;
  transition: 0.3s ease;
}

.btn2:hover {
  color: #ffd65b;
}

/* Cards Section */
.cards {
  margin: -10rem auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;
  max-width: 1000px;
  background: #d59a57;
  padding: 35px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-6px);
}

.card-img {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid #f0e1d2;
}

.fav-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #e58e26;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.fav-icon:hover {
  background: #e58e26;
  color: #fff;
}
.fav-icon.active i {
  color: red;
}

.card-body {
  padding: 15px;
  text-align: left;
}

.card-body h3 {
  font-size: 1.1rem;
  color: #3b2f2f;
  margin-bottom: 8px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  color: #e58e26;
  font-weight: 600;
  font-size: 1rem;
}

.cart-btn {
  background: #ffb84d;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.cart-btn:hover {
  background: #e58e26;
}

/* Menu Section */
.menu-section {
  background-color: white;
  width: 100%;
  margin: 20rem auto 5rem;
  padding: 20px;
}

.menu-section h2 {
  margin-top: 5rem;
  margin-left: 5rem;
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
  font-family: sans-serif;
  margin-bottom: 32px;
  color: #2d2d2d;
}

.menu-section h2 strong {
  font-family: "Momo Signature", cursive;
  color: var(--mine);
  text-decoration: underline;
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.menu-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 16px rgba(80, 85, 88, 0.1);
  overflow: hidden;
  flex: 1 1 22%;
  max-width: 22%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 18px 0;
  position: relative;
}

.menu-image {
  width: 85%;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

.menu-rating {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 1rem;
  background: var(--latte);
  color: var(--coffee);
  border-radius: 6px;
  padding: 2px 8px;
}

.menu-title {
  font-weight: bold;
  font-size: 1.05rem;
  margin-bottom: 6px;
  color: #323232;
  text-align: center;
}

.menu-desc {
  color: #858585;
  font-size: 0.92rem;
  margin-bottom: 10px;
  text-align: center;
}

.menu-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  width: 100%;
}

.menu-cost {
  font-weight: bold;
  color: #ef8411;
  font-size: 1rem;
}

.menu-cart-btn {
  background: #ef8411;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.15rem;
}

/* About Section */
.about-block-unique {
  width: 100%;
  padding: 42px 0;
}

.about-content-row-unique {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 920px;
  margin: auto;
  flex-wrap: wrap;
}

.about-image-box-unique {
  flex: 0 0 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.about-image-unique {
  width: 280px;
  height: 290px;
  border-radius: 24px;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.17);
  object-fit: cover;
  border: 6px solid #fff;
  background: #fff;
  margin-bottom: 7px;
}

.about-text-box-unique {
  flex: 1 1 430px;
  padding-left: 16px;
}

.about-us-title-unique {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 17px;
}

.about-us-title-unique span {
  color: var(--mine);
  text-decoration: underline;
  font-family: "Momo Signature", cursive;
}

.about-us-subtitle-unique {
  font-size: 1.16rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 15px;
}

.about-us-description-unique {
  color: white;
  font-size: 1.02rem;
  margin-bottom: 25px;
}

.about-us-btn-unique {
  background: black;
  color: #f5e7d2;
  border-radius: 17px;
  border: none;
  font-weight: 600;
  padding: 11px 35px;
  cursor: pointer;
  font-size: 1.03rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
  transition: background 0.2s;
}

.about-us-btn-unique:hover {
  background: var(--mine);
  color: black;
}

/* Service Section */
.section-how-unique {
  width: 100%;
  background: #fff;
  padding: 34px 0 41px 0;
}

.how-title-unique {
  margin-top: 40px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 42px;
  font-weight: bold;
}

.how-title-unique span {
  color: var(--mine);
  text-decoration: underline;
  font-family: "Momo Signature", cursive;
}

.how-steps-unique {
  display: flex;
  justify-content: center;
  gap: 48px;
  max-width: 920px;
  margin: auto;
  flex-wrap: wrap;
}

.how-step-unique {
  background: #fff;
  border-radius: 14px;
  text-align: center;
  width: 210px;
  padding: 16px 7px 20px 7px;
  margin-bottom: 12px;
  box-shadow: 0 2px 10px rgba(241, 186, 107, 0.09);
}

.how-step-img-unique {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

.how-step-title-unique {
  font-weight: 600;
  font-size: 1.13rem;
  margin-bottom: 11px;
  color: #1a1914;
}

.how-step-desc-unique {
  font-size: 0.99rem;
  color: #6e6147;
}

/* Order Form */
.order-section {
  width: 80%;
  margin: 100px auto;
  padding: 40px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.order-section h2 {
  text-align: center;
  color: #4b2e21;
  margin-bottom: 30px;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #4b2e21;
}

.order-section input,
.order-section textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 15px;
}

.radio-group,
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.btn-submit {
  background: #d59a57;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background: #4b2e21;
  color: #ffd65b;
}

/* Toast */
#toast-message {
  position: fixed;
  top: 5rem;
  right: 2rem;
  background-color: black;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

#toast-message.show {
  opacity: 1;
}

/* Responsive Queries */
@media (max-width: 1440px) {
  nav {
    width: 85%;
    padding: 12px 25px;
  }
  .hero {
    padding: 120px 30px;
    gap: 6rem;
  }
  .hero1 h1 {
    font-size: 42px;
  }
  .hero1 p {
    font-size: 17px;
  }
  .hero2 img {
    width: 380px;
  }
  .nav a {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .menu-card {
    max-width: 45%;
    flex-basis: 45%;
  }
}

@media (max-width: 950px) {
  .about-content-row-unique,
  .how-steps-unique {
    gap: 19px;
  }
  .about-image-box-unique {
    flex: 0 0 220px;
  }
  .about-image-unique {
    width: 160px;
    height: 180px;
    border-radius: 17px;
  }
  .how-step-unique {
    width: 180px;
  }
}

@media (max-width: 900px) {
  nav {
    width: 80%;
    margin: 30px auto 0;
    padding: 10px 20px;
    justify-content: space-between;
  }
  .nav {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #d59a57;
    padding: 15px 0;
    border-radius: 0 0 20px 20px;
    z-index: 10;
  }
  .nav.active {
    display: flex;
  }
  .menu-btn {
    display: block;
    order: 3;
    font-size: 33px;
    color: var(--mine);
    margin-right: 40px;
    margin-top: -5px;
  }
  .search {
    order: 2;
    width: auto;
    margin-left: 2rem;
    gap: 0;
    flex: 1;
    justify-content: center;
  }
  .search1 .navbarsearch {
    display: none;
    width: 120px;
    margin-left: 5px;
  }
  .search1.active input {
    display: inline-block;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 100px 30px;
  }
  .hero1 {
    margin-top: 40px;
  }
  .hero2 img {
    width: 80%;
    margin-top: -90px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn {
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .about-content-row-unique {
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
  .about-image-box-unique {
    margin-bottom: 9px;
  }
  .about-text-box-unique {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .menu-grid {
    gap: 16px;
  }
  .menu-card {
    max-width: 95%;
    flex-basis: 95%;
    min-width: unset;
  }
  .order-section {
    width: 95%;
    padding: 25px 20px;
  }
  .radio-group,
  .checkbox-group {
    flex-direction: column;
    align-items: flex-start;
  }
  label {
    font-size: 14px;
  }
  h2 {
    font-size: 1.6rem;
  }
}
footer {
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
  width: 100%;
  color: white;
  background-color: var(--caramel);
  padding: 25px;
}
